body,
html,
#root {
    padding: 0;
    margin: 0;
    height: 100%;
}
.editor-app {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background: white;
    height: 100%;
    position: relative;
    outline: none;
}
.editor-app * {
    text-shadow: none;
    color: white;
    box-sizing: border-box;
}
.editor-app .navs {
    position: absolute;
    z-index: 1;
}
.editor-app .editor-app__canvas text::selection {
    background: none;
}
.editor-app .transformator {
    cursor: move;
    position: absolute;
}
.editor-app .resizer_tl,
.editor-app .resizer_br {
    cursor: nwse-resize;
}
.editor-app .resizer_t,
.editor-app .resizer_b {
    cursor: ns-resize;
}
.editor-app .resizer_tr,
.editor-app .resizer_bl {
    cursor: nesw-resize;
}
.editor-app .resizer_l,
.editor-app .resizer_r {
    cursor: ew-resize;
}
.editor-app .editor-app__container {
    display: flex;
    align-items: start;
    justify-content: center;
    background: #272b30;
    height: calc(100% - 77px);
}
.editor-app .editor-app__container.editor-app__container_viewer {
    height: 100%;
}
/* Properties block */
.editor-app .properties__title {
    padding: 5px 0;
    background: #3a3a3a;
    font-weight: 300;
    text-align: center;
    color: white;
    margin-top: 0;
    font-size: 16px;
}
.editor-app button,
.editor-app .button {
    border: none;
    background-color: #383838;
    color: white;
    padding: 10px 13px;
    display: inline-block;
    font-size: 11px;
    margin: 6px;
}
.editor-app button[disabled],
.editor-app .button[disabled] {
    opacity: 0.5;
}
.editor-app .components__name {
    color: black;
}
.editor-app .panel-properties .input {
    transition: all 0.3s ease-in-out;
    outline: 0;
    box-sizing: border-box;
    width: 150px;
    background: #383838;
    border: 1px solid #505050;
    padding: 3px 5px;
    color: #fff;
    font-size: 14px;
    width: 100%;
}
.editor-app .panel-properties .input[disabled] {
    background: none;
    opacity: 0.6;
}
.editor-app .panel-properties .input:focus {
    border: 1px solid #383838;
}
.editor-app .editor-app__proporties {
    width: 400px;
    margin: 0px 0px;
    padding-bottom: 10px;
    max-height: 100%;
    overflow-y: auto;
    height: 100%;
    background: #1c1e22;
    z-index: 1;
}
.editor-app .properties__item {
    padding: 3px 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.editor-app .properties__label {
    flex-basis: 40%;
}
.editor-app .panel-properties .promerties__color-text {
    width: calc(100% - 30px);
    vertical-align: middle;
    margin-right: 5px;
}
.editor-app .panel-properties .properties__color-button {
    padding: 0px;
    border: 1px solid #cccccc;
    width: 28px;
    height: 28px;
    vertical-align: middle;
}
.editor-app .panel-properties .properties__range-text {
    background: transparent;
    width: 40%;
    vertical-align: middle;
}
.editor-app .panel-properties .properties__range-line {
    width: 60%;
    vertical-align: middle;
}
.editor-app .properties__value {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.properties__value_rows {
    flex-direction: column;
}

/* Components list */
.editor-app .components__outer {
    text-align: center;
    background: #1c1e22;
}
.editor-app .components__list {
    display: inline-block;
    background: #1c1e22;
    text-align: center;
    white-space: nowrap;
    transition: margin-left 1s ease 0s;
    fill: #444444;
}
.editor-app .components__item {
    padding: 10px 15px;
    cursor: pointer;
    display: inline-block;
}
.editor-app .components__item:hover {
    background: #272b30;
}
.components__image {
    fill: darkgray;
}
/* Icon select */
.editor-app .icon-select {
    position: absolute;
    background: white;
    border: 1px solid gray;
    padding: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    right: 0px;
    z-index: 1;
    width: 100%;
    display: none;
    flex-wrap: wrap;
    top: 0px;
    max-height: 300px;
    overflow-y: scroll;
    align-items: flex-start;
}
.editor-app .icon-select_visible {
    display: flex;
}
.editor-app .icon-select__radio {
    display: none;
}
.editor-app .icon-select__item {
    text-align: center;
    border: 1px solid silver;
    margin: 4px;
    padding: 5px;
    border-radius: 4px;
    background: #1c1e22;
    flex-basis: 29%;
    box-sizing: border-box;
    cursor: pointer;
}
.editor-app .icon-select__title {
    display: block;
}
.editor-app .icon-select__item_active {
    border-color: #0dc70d;
}
.editor-app .icon-select__item label {
    cursor: pointer;
}

/* ImageManager */
.editor-app .image-manager {
    position: relative;
    max-width: 1200px;
    max-height: 500px;
    width: 70%;
    height: 80%;
    background: #484848;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding: 20px;
    z-index: 111;
}
.editor-app .image-manager__outer {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}
.editor-app .image-manager__container {
    overflow: auto;
    display: flex;
    height: 100%;
}
.editor-app .image-manager__files {
    flex-basis: 60%;
    background: #1c1e22;
    margin: 0px 10px;
    padding: 3px;
}
.editor-app .image-manager__file {
    display: none;
}
.editor-app .image-manager__viewer {
    flex-basis: 40%;
}
.editor-app .image-manager__viewer-layout {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}
.editor-app .image-viewer {
    height: 100%;
    display: flex;
    flex-direction: column;
}
.editor-app .image-viewer__preview {
    flex-grow: 1;
    flex-basis: 70%;
    flex-shrink: 0;
    width: 100%;
}
.editor-app .image-viewer__info {
    flex-basis: 30%;
    overflow-y: auto;
}
.image-viewer__name {
    text-align: center;
    word-break: break-all;
    margin: 5px;
}
.editor-app .image-manager__list {
    display: flex;
    flex-wrap: wrap;
    max-height: calc(100% - 60px);
    overflow-y: auto;
}
.editor-app .image-manager__item {
    text-align: center;
    border: 1px solid silver;
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
    background: #1c1e22;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    min-width: 120px;
    flex-basis: 23%;
    flex-shrink: 0;
}
.editor-app .image-manager__item_active,
.editor-app .image-manager__item:hover {
    border-color: #848484;
    background: #333333;
}
.editor-app .image-manager__subtitle {
    margin: 0px;
    overflow-wrap: break-word;
    text-shadow: none;
    padding: 5px 0;
}
.editor-app .image-manager__remove {
    position: absolute;
    right: 3px;
    top: 3px;
    display: block;
    width: 17px;
    height: 17px;
    background: red;
    border-radius: 50%;
    text-align: center;
    color: white;
    line-height: 15px;
    font-size: 21px;
}
.editor-app .image-viewer__preview {
    height: 250px;
    display: flex;
    justify-content: center;
    align-self: center;
}
.editor-app .image-viewer__preview img {
    max-width: 100%;
    max-height: 100%;
}
.editor-app .image-manager__close {
    position: absolute;
    right: -22px;
    top: -22px;
    cursor: pointer;
    font-size: 35px;
    background: black;
    color: white;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 28px;
    border-radius: 50%;
    text-align: center;
    border: 5px solid white;
}
.editor-app .error-messages {
    max-height: 55px;
    overflow-y: auto;
    background: silver;
    margin: 6px 0px;
    padding: 3px;
}
.editor-app .error-messages__item {
    margin: 1px;
    color: red;
    font-size: 12px;
}
.editor-app .editor-app__canvas {
    flex-basis: 100%;
}
.editor-app .viewer-panel {
    position: absolute;
    bottom: 1%;
    pointer-events: none;
    display: none;
}
.properties__list {
    flex-basis: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.sector-list__item {
    display: flex;
    color: black;
}
.sector-list__item:hover {
    background: #3c3c3c;
}
.sector-list__icon {
    flex-basis: 30px;
    text-align: center;
}
.sector-list {
    max-height: 100px;
    overflow-y: scroll;
    width: 100%;
    border: 1px solid #c8c8c8;
    padding: 3px;
}
.editor-app .viewer-panel__button {
    background: rgba(255, 255, 255, 0.31);
    border: 1px solid #bfbfbf;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 62px;
    color: black;
    margin: 5px;
    cursor: pointer;
    pointer-events: auto;
    fill: #252525;
}
.sector-component-list {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.object__title {
    padding-left: 0px;
    background: rgba(0, 0, 0, 0.48);
    border: 1px solid black;
    color: white;
    line-height: 0.9em;
    text-align: center;
    word-wrap: break-word;
    display: inline-block;
    padding: 0.2em 0.2em;
    max-width: 100%;
}
.properties__select {
    padding: 2px 5px;
    width: 100%;
    font-size: 14px;
    background: #383838;
}
.editor-app__components {
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.poperties__select_small {
    padding: 0px 20px 0px 5px;
    margin: 5px;
}
@keyframes pushdown {
    0% {
        opacity: 1;
    }
    70% {
        opacity: 0;
    }
}
@keyframes pushup {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    70% {
        opacity: 1;
    }
}

@keyframes blink-animation {
    50% {
        background: red;
        fill: red;
        stroke: red;
    }
}

@keyframes blink-animation-background {
    50% {
        background: red;
    }
}

@keyframes blink-animation-stroke {
    50% {
        stroke: red;
    }
}

@keyframes blink-animation-fill {
    50% {
        fill: red;
    }
}

.alarm-animation {
    animation: blink-animation 1s step-start infinite;
}

.alarm-animation-background {
    animation: blink-animation-background 1s step-start infinite;
}

.alarm-animation-stroke {
    animation: blink-animation-stroke 1s step-start infinite;
}

.alarm-animation-fill {
    animation: blink-animation-fill 1s step-start infinite;
}

.nav-components__button {
    position: absolute;
    width: 15px;
    height: 100%;
    background: #0000004f;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-components__button_prev {
    left: 0;
    transform: rotate(180deg);
}

.nav-components__button_next {
    right: 0;
}

.benchmark {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 111;
    background: gray;
    padding: 0px 10px 6px 10px;
}

.benchmark__title {
    margin: 3px 0;
    color: white;
}

.benchmark__button {
    margin-bottom: 0px;
}

.property-align__row {
    line-height: 0px;
}
.property-align__item {
    display: inline-block;
}
.property-align__radio {
    display: none;
}
.property-align__radio:checked + .property-align__label {
    background: #ada6a6;
}
.property-align__label {
    width: 16px;
    height: 16px;
    background: #d7d7d7;
    display: inline-block;
    border: 1px solid gray;
    margin: 0;
}
.controls {
    position: absolute;
    top: 74px;
    background: #1c1e22;
    padding: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    fill: #b5b5b5;
    border: 1px solid gray;
    border-radius: 0px 0px 10px 10px;
}
.controls__button {
    padding: 8px 10px;
    border-right: 1px solid #b9b9b9;
    cursor: pointer;
    display: inline-block;
    line-height: 0px;
}
.controls__button:last-child {
    border-right: none;
}
.controls__button_disabled {
    opacity: 0.3;
    cursor: auto;
}
.editor-app:hover .viewer-panel {
    display: block;
}
